body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #FFC133 , #FFA933);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    background-color: #ddd;
    border: 1px solid #ccc;
    width: 250px;
    padding: 10px;
    justify-content: center;
}

title{
    text-align: center;

}

h3{
    text-align: center;
    padding: 200px;

}


.stack-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px;
    margin: auto;
    
    width: fit-content;
    min-width: 250px;
    border: 2px solid black;
    border-top: 0;
}
.stack-container-queue {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px;
    margin: auto;
    
    width: fit-content;
    min-width: 250px;
    border: 2px solid black;
    border-top: 0;
    border-bottom: 0;
}

.buttons {
    display: flex;
    margin: auto;
    width: 100vh;

    padding: 20px;

    justify-content: center;
    align-items: center;
}
button  {
    margin: 55px;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    border: none;
    background-color: #7FE449;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #67C634;    ;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: #67C634;
}

#next {
    position: fixed; /* o absolute, dependiendo de tu layout */
    right: 10px;
    bottom: 10px;
    background-color: #7FE449;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 40px;
}
