@font-face {
    font-family: 'Futuristic_Armour';
    src: url(/Futuristic_Armour.otf);
}
body{
    background-color: #000;
}
.barra-sup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-sup img{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    

}

.container{
    background-color: #191919;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 70%;
    height: 70%; 
    position: absolute;
    top: 52%; 
    left: 50%; 
    border: #000 2px solid; 
    border-radius: 40px;
    transform: translate(-50%, -50%);

}


.img-1{
    position: absolute;
    top: 10px;
    left: 5px;
    width: 40%;
}

.img-2{
    position: absolute;
    top: 24px;
    right: 20px;
    width: 17%;
}

.img-3{
    position: absolute;
    width: 5%;
    top: 11px;
    right: 200px;
}

.btnsig{
    position: absolute;
    width: 2%;
    top: 50%;
    right: 6%;
}
.btnant{
    position: absolute;
    width: 2%;
    top: 50%;
    right: 92%;
}

.flecha1{
    position: absolute;
    width: 20%;
    top: 15%;
    right: 42%;
}
.flecha2{
    position: absolute;
    width: 20%;
    top: 85%;
    right: 42%;
}

.stack-container-queue {
    background-color: #191919; 
    display: flex;   
}

.stack-container-queue img {
    margin-left: 60px; 
    width: 100px; 
    height: 100px;
}

.buttons{
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 25%;
    
}

#queue-enqueue, #queue-dequeue {
    color: #191919; 
    background-color: #d2d2d2;
    border-radius: 6px;
    margin-left: 32%;
    margin-right: 32%;
    width: 200px;
    height: 30px;
    font-size: 17px;
    font-family: 'Futuristic_Armour', Arial, sans-serif;

}
#queue-dequeue:hover, #queue-enqueue:hover{
    color: #d2d2d2;
    background-color: #191919;
}